<div class="card" [ngStyle]="setStyles()">
    <div class="card-header" [class.invisible]="!dataReceived">
        <div class="col-xs-8">
            <p><i id="location-icon" class="fa fa-map-marker" aria-hidden="true"></i>{{currentLocation}}</p>
        </div>

        <div class="col-xs-4">
            <h1>{{weatherData.temp | number:'.0-0'}}&deg;</h1>
        </div>
    </div>

    <div class="card-block">
        <div id="indicator" [hidden]="dataReceived">
            <i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i><br>
            <span>Loading...</span>
        </div>
        <canvas id="icon" [hidden]="!dataReceived"></canvas>
        <p style="color: white;">{{weatherData.summary}}</p>
    </div>

    <div class="card-footer" [class.invisible]="!dataReceived">
        <div class="col-xs-5">
            <p>Wind</p>
            <p class="unit-label">{{weatherData.wind | speedUnit: currentSpeedUnit}}</p>
        </div>
        <div class="col-xs-5 offset-xs-2">
            <p>Humidity</p>
            <p>{{weatherData.humidity | percent}}</p>
        </div>
    </div>
</div>