h2 {
    color: #34434B;
}

.form-control {
    border-radius: 0;
    font-weight: lighter;
}

select {
    text-transform: uppercase;
    border: none !important;
    height:  3.5rem !important;
    -webkit-appearance: none;
}

textarea {
    background-color: #F7F7F7 !important;
    resize: none;
}

