<div class="row">
    <div class="col-xs-6">
        <h2>Logged Bugs</h2>
    </div>
    <div class="col-xs-6 text-xs-right">
        <button class="btn btn-success btn-lg"><i class="fa fa-plus" aria-hidden="true"></i>Add Bug</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>TITLE</th>
                    <th>STATUS</th>
                    <th>DESCRIPTION</th>
                    <th>LOGGED BY</th>
                    <th>DATE</th>
                </tr>
            </thead>

            <tbody>
            <tr>
                <td>Test Bug</td>
                <td>Logged</td>
                <td>Deadly</td>
                <td>John Doe</td>
                <td>19th February 2018</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>